<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.bean.Menu">
    <id column="menuid" jdbcType="INTEGER" property="menuid" />
    <result column="menuname" jdbcType="VARCHAR" property="menuname" />
    <result column="upmenuid" jdbcType="INTEGER" property="upmenuid" />
    <result column="menupath" jdbcType="VARCHAR" property="menupath" />
    <result column="menustate" jdbcType="INTEGER" property="menustate" />
    <result column="menuremark" jdbcType="VARCHAR" property="menuremark" />
  </resultMap>

  <resultMap id="m1" type="com.bean.UserTb">
      <id column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="student_id" jdbcType="INTEGER" property="studentId" />
      <result column="role_id" jdbcType="INTEGER" property="roleId" />
      <result column="user_name" jdbcType="VARCHAR" property="userName" />
      <result column="user_ps" jdbcType="VARCHAR" property="userPs" />
      <result column="user_realname" jdbcType="VARCHAR" property="userRealname" />
      <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
      <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
      <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
      <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
      <result column="user_idcard" jdbcType="VARCHAR" property="userIdcard" />
      <result column="user_content" jdbcType="VARCHAR" property="userContent" />
      <result column="logincount" jdbcType="INTEGER" property="logincount" />
      <result column="regdate" jdbcType="DATE" property="regdate" />
      <result column="managerid" jdbcType="INTEGER" property="managerid" />

      <association property="role" javaType="com.bean.Role">
        <id column="roleid" jdbcType="INTEGER" property="roleid" />
        <result column="rolename" jdbcType="VARCHAR" property="rolename" />
        <result column="rolestate" jdbcType="INTEGER" property="rolestate" />
      </association>
  </resultMap>

  <sql id="Base_Column_List">
    menuid, menuname, upmenuid, menupath, menustate, menuremark
  </sql>

  <select id="getmenu" resultType="com.bean.Menu">
    select * from menu
  </select>

  <insert id="insertmiddle" >
    insert into  middle(menuid,roleid)
    values
    <foreach collection="menuids" item="id" separator=",">
      (#{id},#{rid})
    </foreach>
  </insert>

  <!--导出菜单的excel查询语句-->
  <select id="selectMenuByMids" resultType="com.bean.Menu">
    select * from menu where menuid in (
        <foreach collection="array" separator="," item="mids">
          #{mids}
        </foreach>
    )
  </select>

  <!--查询所有一级菜单信息-->
  <select id="selectFirst" resultType="com.bean.Menu">
    select * from menu where upmenuid = #{upmenuid}
  </select>

  <select id="selectUsersByUids" parameterType="java.lang.Integer" resultMap="m1">
    select * from user_tb ut,role r where ut.role_id = r.roleid and ut.role_id in (
        <foreach collection="array" separator="," item="uids">
          #{uids}
        </foreach>
    )
  </select>

  <delete id="deleteByUdid" >
    delete from user_tb where user_id = #{udid}
  </delete>

  <select id="selectMenuByRoleid" resultType="com.bean.Menu">
    select * from menu m ,middle mid where m.menuid = mid.menuid and mid.roleid = #{roleid}
  </select>

  <select id="selectAllUsers" resultMap="m1">
    select * from user_tb ut,role r where ut.role_id = r.roleid
  </select>

  <select id="selectAllRoles" resultType="com.bean.Role">
      select * from role
  </select>

  <delete id="PlDeleteUsers" parameterType="java.lang.Integer">
    /*
      注意该处括号不能少
    */
    delete from user_tb where user_id in (
    <foreach collection="array" item="ids" separator=",">
      #{ids}
    </foreach>
    )
  </delete>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where menuid = #{menuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where menuid = #{menuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bean.Menu">
    insert into menu (menuid, menuname, upmenuid, 
      menupath, menustate, menuremark
      )
    values (#{menuid,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, #{upmenuid,jdbcType=INTEGER}, 
      #{menupath,jdbcType=VARCHAR}, #{menustate,jdbcType=INTEGER}, #{menuremark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bean.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuid != null">
        menuid,
      </if>
      <if test="menuname != null">
        menuname,
      </if>
      <if test="upmenuid != null">
        upmenuid,
      </if>
      <if test="menupath != null">
        menupath,
      </if>
      <if test="menustate != null">
        menustate,
      </if>
      <if test="menuremark != null">
        menuremark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuid != null">
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null">
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="upmenuid != null">
        #{upmenuid,jdbcType=INTEGER},
      </if>
      <if test="menupath != null">
        #{menupath,jdbcType=VARCHAR},
      </if>
      <if test="menustate != null">
        #{menustate,jdbcType=INTEGER},
      </if>
      <if test="menuremark != null">
        #{menuremark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.Menu">
    update menu
    <set>
      <if test="menuname != null">
        menuname = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="upmenuid != null">
        upmenuid = #{upmenuid,jdbcType=INTEGER},
      </if>
      <if test="menupath != null">
        menupath = #{menupath,jdbcType=VARCHAR},
      </if>
      <if test="menustate != null">
        menustate = #{menustate,jdbcType=INTEGER},
      </if>
      <if test="menuremark != null">
        menuremark = #{menuremark,jdbcType=VARCHAR},
      </if>
    </set>
    where menuid = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.Menu">
    update menu
    set menuname = #{menuname,jdbcType=VARCHAR},
      upmenuid = #{upmenuid,jdbcType=INTEGER},
      menupath = #{menupath,jdbcType=VARCHAR},
      menustate = #{menustate,jdbcType=INTEGER},
      menuremark = #{menuremark,jdbcType=VARCHAR}
    where menuid = #{menuid,jdbcType=INTEGER}
  </update>
</mapper>